{% extends 'authentication/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <a href="{% url 'authentication:register_user' %}" target="_blank" class="d-inline-block m-3">
            <button type="button" class="btn btn-success d-inline-block">User Registration</button>
        </a>
        <a href="{% url 'authentication:register_party' %}" target="_blank" class="d-inline-block m-3">
            <button type="button" class="btn btn-success d-inline-block">Party Registration</button>
        </a>
        <a href="{% url 'authentication:login_user' %}" target="_blank" class="d-inline-block m-3">
            <button type="button" class="btn btn-success d-inline-block">User login</button>
        </a>
    </div>
{% endblock %}