{% extends 'party/base.html' %}
{% block content %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
    <div style="padding-bottom: 380px;margin-left: 100px">

    <span class="login100-form-title p-t-100 p-b-10" style="background: -webkit-linear-gradient(#2dfbff, #3c96ff); -webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size:30px;">
        Add Members
    </span>
        <p style="text-align: center; padding-bottom: 30px ">Click on '+' to invite a user as a group member.</p>
    {% if members %}
        {% for member in members %}
            <div style="padding: 3px">
            <div class="chip">
              <img src="{% static 'authentication/images/img_avatar1.png' %}" alt="Person" width="96" height="96">
                {{ member.first_name}}&nbsp;{{ member.last_name }} &nbsp;&nbsp;<a href="{% url 'authentication:group:request_member' g_id member.pk %}"><i style="font-size:17px" class="fa">&#xf067;</i></a>
            </div></div>
        {% endfor %}
    {% endif %}

    </div>
{% endblock %}
