{% extends 'news_items/base.html' %}
{% block content %}
    <br><br><br><br><br><br><br>
    {% if events_joined %}
        {% for event in events_joined %}
            Name : {{ event.name }}<br>
            Description : {{ event.description }}<br>
            Location : {{ event.location }}<br>
            date : {{ event.date }}<br>
            <a href="{% url  'authentication:group:leave_event' event.id %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Leave Event</a><br><br><br><br>

        {% endfor %}
    {% endif %}
    {% if events_not_joined %}
        {% for event in events_not_joined %}
            Name : {{ event.name }}<br>
            Description : {{ event.description }}<br>
            Location : {{ event.location }}<br>
            date : {{ event.date }}<br>
            <a href="{% url  'authentication:group:join_event' event.id %}" class="btn btn-primary" style="padding: 10px; border-radius: 5px; background: -webkit-linear-gradient(top, #2bfbff);">Join Event </a><br><br><br><br>
        {% endfor %}
    {% endif %}

{% endblock %}