{% extends 'authentication/base.html' %}
{% block content %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="{% url  'authentication:group:create_group' request.user.pk %}" target="_blank" class="d-inline-block m-3">
        <button type="button" class="btn btn-success d-inline-block">Create Group</button>
    </a><br>
    {% if groups %}
        {% for group in groups %}
            <strong>GROUP:</strong><br>
            Name: <a href="{% url 'authentication:group:event_list' group.0 %}">{{ group.1 }}</a><br>
            Description: {{ group.2 }}<br>
        {% endfor %}
    {% endif %}
{% endblock %}