{% extends 'news_items/base.html' %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>National News</h1>
  </div>
</div>

    <div class="container">
  {% for row in rows %}
  <div class="col-md-6">
    {% for entry in row %}
    <h2>{{entry.title}}</h2>
    <p>{{entry.description | safe}}</p>
    <p><a href="{{entry.url}}" target="_blank" class="btn btn-primary">View Details</a></p>
    {% endfor %}
  </div>
  {% endfor %}
</div>
    <div class="container">
  <footer>
    <p>&copy; Django News Aggregator</p>
  </footer>
</div> <!-- /container -->

{% endblock %}
