{% extends 'news_items/base.html' %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Saved Searches</h1>
  </div>
</div>



<div class="container">


<div>
      {% for row in savedqps %}
        <form method="POST" action="{% url 'authentication:news_items:saved_queries' %}">
            {% csrf_token %}

    <h2>{{row.query}}</h2>
      <button class="btn btn-primary" name="delete" type="submit" value="{{ row.query }}">
          Delete
      </button>
        </form>
    {% endfor %}
  </div>
  <footer>
    <p>&copy; Django News Aggregator</p>
  </footer>
</div> <!-- /container -->

{% endblock %}
