{% extends 'news_items/base.html' %}
{% load static %}
{% block content %}

<div style="background-image: url({% static 'authentication/images/middle-cover.jpg' %})">
  <span class="login100-form-title p-t-100 p-b-30" style="background: -webkit-linear-gradient(#2dfbff, #3c96ff); -webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size:35px;">
       Saved Searches
  </span>


<div class="container">

<div>
    {% for row in savedqps %}
        <form method="POST" action="{% url 'authentication:news_items:saved_queries' %}">
            {% csrf_token %}

    <span style="font-size: large">{{row.0}}</span>
      <button class="btn btn-primary" name="delete" type="submit" value="{{ row.0 }}">
    <h2>{{row.query}}</h2>
      <button class="btn btn-primary" name="delete" type="submit" value="{{ row.query }}">
          Delete
      </button>
        </form><br>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
