{% extends 'news_items/base.html' %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<span class="login100-form-title p-t-100 p-b-30" style="background: -webkit-linear-gradient(#2dfbff, #3c96ff); -webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size:30px;">
       Regional News
  </span>


<div class="container" style="padding-bottom: 340px">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <hr>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>


{% endblock %}
