{% extends 'party/base.html' %}
{% load static %}

{% block nav %}

  		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'authentication:party:party' %}" style="color:white;padding-left:25px;padding-right: 25px">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'authentication:group:group_list' request.user.pk %}" style="color:white;padding-left:20px;padding-right: 20px">Groups</a>
			</li>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="padding-left:30px;padding-right: 50px; font-size:15px;">Sentiment Analysis</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'authentication:party:sentimentanalysis:sentiment_analysis_single' %}" style="font-size:15px;">Single Predict</a>
                <a class="dropdown-item" href="{% url 'authentication:party:sentimentanalysis:sentiment_analysis_batch' %}" style="font-size:15px;">Batch Predict</a>
              </div>
            </div>
            <li class="nav-item">
				<a class="nav-link" href="{% url 'authentication:party:data_analysis' %}" style="color:white;padding-left:20px;padding-right: 20px">Data Analysis</a>
			</li>
            <li class="nav-item">
				<a class="nav-link" href="#" style="color:white;padding-left:20px;padding-right: 20px">Payment</a>
			</li>
		</ul>


{% endblock %}


{% block content %}
    <br><br><br><br><br><br><br><br>
    {% if error %}
        <div style="color: red">{{ error }}</div>
    {% endif %}
    Your Credits:{{ profile.credit_amount }}<br><br>
    <a href="{% url 'authentication:party:decrease_credits' 50 %}"><input type="button" class="btn-primary" value="1st button"></a><br><br>
    <a href="{% url 'authentication:party:decrease_credits' 100%}"><input type="button" class="btn-primary" value="2st button"></a><br><br>
    <a href="{% url 'authentication:party:decrease_credits' 200%}"><input type="button" class="btn-primary" value="3st button"></a><br><br>
{% endblock %}